.ben__critical-header {
    box-sizing: border-box;
    background-image: url('../../assets/critical.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}


.ben__critical-header h1 {
    font-size: 5rem;
}

/* Media Queries */
@media screen and (max-width: 745px) {
    
    .ben__critical-header h1 {
        font-size: 4rem;
    }

}

@media screen and (max-width: 590px) {
    
    .ben__critical-header h1 {
        font-size: 3rem;
    }

    .ben__critical-header h3 {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 460px) {
    
    .ben__critical-header h1 {
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 390px) {
    
    .ben__critical-header h1 {
        font-size: 2rem;
    }

    .ben__critical-header h3 {
        font-size: 0.6rem;
    }

}