* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

@-webkit-keyframes scale-up-hor-right {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}
@keyframes scale-up-hor-right {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

.gradient__bg {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(195, 255, 191, 1) 0%, rgba(245, 245, 245, 1) 65%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(195, 255, 191, 1) 0%, rgba(245, 245, 245, 1) 65%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(195, 255, 191, 1) 0%, rgba(245, 245, 245, 1) 65%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(195, 255, 191, 1) 0%, rgba(245, 245, 245, 1) 65%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(195, 255, 191, 1) 0%, rgba(245, 245, 245, 1) 65%);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-bg);
    margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}