@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ruda:wght@400..900&display=swap');

:root {
    --font-one: 'Ruda', sans-serif;
    --font-two: 'Roboto Slab', sans-serif;

    --color-bg: #F5F5F5;
    --dark-green: #3D733A;
    --light-green: #E7FFE6;
    --snowy-green: #C3FFBF;
}